### Bike Share Analysis

The datasets used for this script contain bike share data for the first six months of 2017. I have uploaded a copy of the datasets [here](https://drive.google.com/open?id=16FfhNDfAh0DvTIRw9r0plmWZlHPEcBa4).

The data is provided by [Motivate](https://www.motivateco.com/), which is a bike share system provider for many cities in the United States. The data files for all three cities contain the same six columns:

- Start Time
- End Time
- Trip Duration (in seconds)
- Start Station
- End Station
- User Type (Subscriber or Customer)

The Chicago and New York City files also contain the following two columns:

- Gender
- Birth Year

Based on the data answer the following questions:
    
- What is the most popular month for start time?
- What is the most popular day of week (Monday, Tuesday, etc.) for start time?
- What is the most popular hour of day for start time?
- What is the total trip duration and average trip duration?
- What is the most popular start station and most popular end station?
- What is the most popular trip?
- What are the counts of each user type?
- What are the counts of gender?
- What are the earliest (i.e. oldest person), most recent (i.e. youngest person), and most popular birth years?

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('chicago.csv')
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0

#### * What is the most popular month for start time?

In [8]:
#from pandas import datetimeIndex
df['Month'] = pd.DatetimeIndex(df['Start Time']).month

In [9]:
df['Month'].value_counts()

6    505164
5    345988
4    268662
2    166343
3    153406
1    111942
Name: Month, dtype: int64

In [24]:
popular_month = df['Month'].mode()[0]

print('Popular month: ', popular_month)

Popular month:  6

#### *What is the most popular day of week (Monday, Tuesday, etc.) for start time?

In [10]:
df['Day of Week'] = pd.DatetimeIndex(df['Start Time']).dayofweek

In [11]:
df['Day of Week'].value_counts()

1    237586
0    231477
4    226840
3    223114
2    220217
5    212003
6    200268
Name: Day of Week, dtype: int64

In [50]:
Days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
                    'Saturday', 'Sunday']

popular_day = df['Day of Week'].mode()[0]

print('Popular day: ', popular_day)

Popular day:  1

#### *What is the most popular hour of day for start time?

In [25]:
df['Hour'] = pd.DatetimeIndex(df['Start Time']).hour

In [14]:
df['Hour'].value_counts()

17    186899
16    149037
8     125871
18    121463
15    104199
7      94757
13     91340
14     90836
12     89624
19     80710
11     78310
9      69752
10     61121
20     52918
6      42750
21     36693
22     25330
23     15688
5      12457
0       9023
1       5136
2       3117
4       2455
3       2019
Name: Hour, dtype: int64

In [18]:
popular_hour = df['Hour'].mode()[0]

print(popular_hour)

17

#### *What is the total trip duration and average trip duration?

In [63]:
Trip_Duration = df['Trip Duration'].mode()[0]

print('Trip Duration: ', Trip_Duration)

Trip Duration:  332

In [60]:
total_travel_time = df['Trip Duration'].sum()
print('Total Time Travel:', total_travel_time)
# display mean travel time
mean_travel_time = df['Trip Duration'].mean()
print('Mean Time Travel:', mean_travel_time)

Total Time Travel: 1458069892
Mean Time Travel: 939.7777590146342

#### *What is the most popular start station and most popular end station?

In [53]:
df['Start Station'].mode()

0    Streeter Dr & Grand Ave
dtype: object

In [54]:
df['Trip'] = df['Start Station']+ df['End Station']
df['Trip'].head()

0         Canal St & Taylor StCanal St & Monroe St (*)
1    Larrabee St & Menomonee StSheffield Ave & King...
2    Orleans St & Chestnut St (NEXT Apts)Ashland Av...
3        Franklin St & Monroe StClinton St & Tilden St
4          Broadway & Barry AveSedgwick St & North Ave
Name: Trip, dtype: object

In [55]:
df['Trip'].mode()

0    Lake Shore Dr & Monroe StStreeter Dr & Grand Ave
dtype: object

#### *What is the most popular trip?

In [57]:
popular_journey = df['Trip'].mode().to_string(index = False)

print('Popular Trip: ', popular_journey)

Popular Trip:  Lake Shore Dr & Monroe StStreeter Dr & Grand Ave

#### *What are the counts of each user type?

In [56]:
df['User Type'].value_counts()

Subscriber    1234339
Customer       317162
Dependent           4
Name: User Type, dtype: int64

#### *What are the counts of gender?

In [19]:
df['Gender'].value_counts()

Male      935854
Female    298784
Name: Gender, dtype: int64

#### *What are the earliest (i.e. oldest person), most recent (i.e. youngest person), and most popular birth years?

In [58]:
earliest = int(df['Birth Year'].min())
recent = int(df['Birth Year'].max())
mode = int(df['Birth Year'].mode())
print('The oldest birth year in the dataset {}.\nThe most recent birth year is {}.'
          '\nThe most common birth year is {}.'.format(earliest, recent, mode))

The oldest birth year in the dataset 1899.
The most recent birth year is 2016.
The most common birth year is 1989.

## TO DO: 
#### *Convert seconds to hours, minutes, seconds.
#### *Do not report hours if hours is 0.
if h == 0: average_trip = else: average_trip

In [68]:
print (df.iloc[9220])

Start Time                                    2017-01-04 08:52:05
End Time                                      2017-01-04 08:56:33
Trip Duration                                                 268
Start Station                             Avers Ave & Belmont Ave
End Station                             Kimball Ave & Belmont Ave
User Type                                              Subscriber
Gender                                                     Female
Birth Year                                                   1987
Month                                                           1
Day of Week                                                     2
Hour                                                            8
Trip             Avers Ave & Belmont AveKimball Ave & Belmont Ave
Name: 9220, dtype: object